/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-top: 60px;
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.container-fluid {
  width: 80%;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.alert {
  margin: 0 auto;
  width: 50%;
}

fieldset > * {
    vertical-align: middle;
}

.leftlabel, .rightlabel {
    display: inline-block;
    width: 50px;
    padding: 2px;
    text-align: center;
}

.social_col i {
    color: #333;
    font-size: 15px;
    line-height: 2em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.social_col a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #337ab7;
    line-height: 1em;
    text-align: center;
    background: #337ab7;
    margin: 10px 10px 0 0;
    -webkit-transition: background 200ms ease-out;
    -moz-transition: background 200ms ease-out;
    -ms-transition: background 200ms ease-out;
    -o-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
}
