apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: frontend
  labels:
    app: frontend
spec:
  strategy:
    type: RollingUpdate
    maxUnavailable: 0
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
      - name: cloudytimemachine-kubernetes-pull-secret
      containers:
        - name: frontend
          imagePullPolicy: IfNotPresent
          image: quay.io/cloudytimemachine/frontend:latest
          ports:
            - containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /=
              port: 8080
            initialDelaySeconds: 2
            timeoutSeconds: 5
